html{
    box-sizing: border-box;

    font-size: 95%;
}
.container{
    width: 95%;
    margin: auto;
    background: rgba(67, 63, 63, 0.964);
    margin-top: -10px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.page{
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* width: 100%; */
    background: white;

    padding: 20px;
    /* box-shadow: 0 0 15px rgba(50, 50, 50, 0.75) ; */
}
.title-section{
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    font-size: large;

}
body{
    background-color: rgba(188, 24, 24, 0.893);
    font-family: "DINWebBold", sans-serif;
    font-size: 100%;
}
.main{
    background-color: #E9EFF1;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 20px;
    padding-right: 12px;
    width: 80%;
    margin: 20px;
}
table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    /* border: 1px solid rgb(196, 193, 193); */
}
.footer{
    text-align: right;
}
.button {
    text-size-adjust: 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 15px 0 0;
    font-weight: 400;
    border-radius: 3px;
    border-width: 1px;
}
.button:hover {
    transition: 0.001s ease-in;
    background-color: rgb(113, 105, 105);
  }
th{
    text-align: left;
    padding: 8px;
    border-spacing: 0;
    border: 1px solid rgb(144, 140, 140);
    background-color: rgba(72, 44, 44, 0.126);
}
td{
    text-align: left;
    padding: 7px;
    border: 1px solid rgb(144, 140, 140);
    width: 20%;
}
input{
    width: 30px;
    height: 25px;
}
.myResult{
    /* color: rgb(194, 20, 20); */
    font-weight: bold;
    font-size: 120%;
    margin: -10px 0 0;
}
.button1{
    display: inline-block;
    border-radius: 3.5px;
    background-color: rgb(181, 12, 12);
    border: none;
    color: white;
    font-size: 12px;
    padding: 8px;
    margin-right: 8px;
    text-align: center;
}
.button1:hover{
    background-color: rgb(212, 16, 16);
}
#act{
    color: rgb(166, 16, 16);
    font-size: large;
}
#myTable{
    width: 100%;
}
#meanFunction, #weightedFunction{
    width: 5.3rem;
}
#ResultText{
    color: rgba(174, 20, 20, 0.893);
    font-size: large;
}
#grade-text{
    padding-top: 10px;
    padding-bottom: 10px;
}